article{
    border: 10px solid rgb(212, 212, 212);
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 1em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow:25%;
}
article:hover{
  
    background-color: rgb(205, 255, 205);
}